.pasted-image-container {
  display: flex;
  position: relative;
}
@media(max-width: 479px) {
  .pasted-image-pasted-image {
    margin-top: -32px;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
  }
}
